{{ define "title" }}
<!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} – {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<main>
  <section class="container center">
    <h1 class="section-heading">VicesFest 2025</h1>
    <p>Welcome to <strong>VicesFest 2025!</strong> Join us at <strong><a target="_blank" href="https://www.google.com/maps/dir//20+Third+St,+Dover,+NH+03820/@43.1982824,-70.9574357,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89e29710f2e4f3b7:0xebc88536383a9612!2m2!1d-70.8750187!2d43.1983895?entry=ttu&g_ep=EgoyMDI1MDgxOC4wIKXMDSoASAFQAw%3D%3D">The Strand Dover</a></strong> for three days filled with fun, music, and indulgence. Come and see your new favorite musicians in a safe lively atmosphere. From live music, vendors, delicious food and drinks to exciting activities, VicesFest has something for everyone. Get ready to let loose and enjoy a weekend of pure entertainment. Don't miss out on this unforgettable experience - mark your calendars now!</p>
    <p>Event MCed by Frank Gallagher. Stand-up comedy between sets provided by Jenn Rose.</p>
  </section>
  <section class="container center">
    <h2 class="section-heading">Bands</h2>
    <p>Vices Inc - Sygnal to Noise - Sepsiss - TRAWL - Euphemia - The Roscoes - Night Fury - Lions and Lavender - Scarecrow Hill - Jonee Earthquake Band - Battlemode - Plague Dad - MANUEL - Alaska's Angels - Under the Horizon - House Lights - Mango Catch - Separatr - Willie Dinardo & The Corporates - The Shirts and Shoes - The Carrot Flowers - Silver Chord - The Living Space - Trading Tombstones - Cryin Caleb - 25% Vegan - Jake Herbert - Peter Gay - Adam Vitali - Fine Pioneer - Neon Gypsy - Mother Nimbus - The Joe Belanger Shred Trio - Brady's Grownup Time - Decaying Continuum - Cellar Door</p>
    <p><a class="button" href="/bands">Learn More About the Bands</a></p>
  </section>
  <section class="container center">
    <h2 class="section-heading">Tickets</h2>
    <p>Tickets for VicesFest 2025 go on sale on July 12th. Buy individual days for <strong>$20</strong> each or all three days for only <strong>$40</strong>. Three day passes also include a free gift!</p>
    <p><a class="button" href="https://vicesfest2025.eventbrite.com" target="_blank">Buy Tickets Now</a></p>
  </section>
  <section class="container center">
    <h2 class="section-heading">Vendors</h2>
    <p>If you are a vendor and would like to set up a booth at VicesFest please contact Jagger at <a href="mailto:j.hicks@vicesfest.com" target="_blank">j.hicks@vicesfest.com</a>.</p>
    <p>There are only a limited amount of booth spaces left so don't delay!</p>
  </section>
  <!--{{- partial "bands.html" . -}}-->
  <!--<section class="container center">
    <h2 class="section-heading">Film</h2>
    <p class="center">Filmed and documented by Henry Riley Productions.</p>
    <img src="/images/hrp-film.png" alt="" />
  </section>-->
</main>
{{ end }}
