<header class="header">
  <img
    class="hero"
    src="/images/VicesFestPoster2025-2.png"
    alt="VicesFest 2025 - Dover, New Hampshire - August 29-30-31" />
    <nav class="menu-wrap">
      <div class="menu-container container">
        <ul class="menu main-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/bands">Bands</a></li>
          <li><a href="/schedule">Schedule</a></li>
          <li><a href="https://vicesfest2025.eventbrite.com" target="_blank">Tickets</a></li>
        </ul>
      </div>
    </nav>
</header>