/* GLOBAL */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
  color: #000101;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

.center {
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

p {
  line-height: 1.5;
}

a {
  color: #000101;
}

/* HEADER */

.hero {
  width: 100%;
}

.menu-container {
  border-bottom: 1px solid #000101;
}

.menu {
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-right: 16px;
}

.main-menu li {
  font-weight: bold;
  margin-right: 48px;
  text-transform: uppercase;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  transition: opacity .3s ease;
}

.menu a:hover {
  opacity: .7;
}

/* GENERIC SECTIONS */

.section-heading {
  font-size: 24px;
  padding-bottom: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.section-heading:after {
  bottom: 0;
  content: '';
  position: absolute;
  left: 50%;
  width: 40px;
  height: 2px;
  background-color: currentColor;
  margin-left: -20px;
}
@media (min-width: 900px) {
  .section-heading {
    font-size: 32px;
  }
}

.button {
  border: 2px solid #000101;
  display: inline-block;
  color: #000101;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 0 0 16px;
  padding: 16px;
  text-decoration: none;
  transition: all .3s ease;
}

.button.full {
  display: block;
  text-align: center;
  width: 100%;
}

.button:hover {
  background-color: #000101;
  color: #f0f0f0; 
}

/* BANDS */

.band-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.band {
  padding: 0 16px 24px;
  width: 282px;
}

.band-logo-wrap {
  height: 250px;
  display: flex;
}

.band-logo {
  display: block;
  margin: auto;
  width: 100%;
}

.band-name {
  margin: 16px 0 0;
  text-align: center;
}

/* BAND PAGES */

@media (min-width: 768px) {
  .band-info-container {
    display: flex;
  }
  .band-image-wrap {
    margin-right: 24px;
    width: 40%;
  }
  .band-info {
    flex: 1;
  }
}

/* FOOTER */

.footer {
  margin-top: 20px;
  padding: 16px;
  text-align: center;
}

.footer-copyright {
  font-size: 12px;
  margin-top: 30px;
}